
/* start footer style */

.footer-widgets{
    background-color: #f0f2f7;
    border-radius: 1rem;
    padding: 4rem;
    position: relative;
    margin-bottom: 5rem;
}

.footer-widgets::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 4rem;
    width: 50rem;
    background-color: var(--primary-color);
    z-index: -1;
    bottom: -1rem;
    border-radius: 2rem;
}

.footer-widgets__title{
    display: block;
    font-size: 1.7rem;
    font-weight: bold;
    position: relative;
    margin-bottom: 2rem;
}

.footer-widgets__title::before{
    content: "";
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border-radius: 1rem;
    transform: rotate(30deg);
    right: 1rem;
    opacity: .3;
}

.footer-widgets__text{
    color: #7e7e7e

}

.footer-widgets__links{
    display: flex;
    flex-direction: column;
}

.footer-widgets__link{
    display: block;
    margin: 1rem 0;
}

.footer-copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0f2f7;
    padding: 2rem;
}

.footer-copyright__text{
    color: var(--dark-color);
    font-weight: bold;
}



/* end footer style */