@import './variables.css';
@import './fonts.css';
@import './top-bar.css';
@import './nav-bar.css';
@import './defaults.css';
@import './footer.css';
@import './course-box.css';

/* start landing styles */
.landing{
    /* background: url(../images/background_landing.jfif) no-repeat center center ; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0,0,0,0.6)), url(../images/background_landing.jfif);
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 9rem 0;
    color: var(--white-color);

}

.landing__title{
    font-size: 3.4rem;

}

.landing__sub-title{
    font-size: 1.7rem;
    margin-top: 1rem;
}

.landing__search-bar{
    width: 900px;
    position: relative;
    margin: 3.5rem auto;
}

.landing__search-bar-input{
    width: 100%;
    padding: 2rem;
    border: none;
    /* background-color: hsla(0,0%,100%,.2)!important; */
    border-radius: 1.5rem;
}

.landing__search-bar-btn{
    position: absolute;
    border: none;
    background-color: var(--primary-color);
    left: 1rem;
    top: 0.7rem;
    width: 5rem;
    height: 5rem;
    border-radius: 1.5rem;
}

.landing__search-bar-icon{
    color: var(--white-color);
    font-size: 2rem;
}

.landing__status{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.landing__status-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.landing__status-icon{
    font-size: 5rem;
    color: var(--primary-color);
}

.landing__status-count{
    font-weight: bold;
    font-size: 2rem;
    margin-top: 1rem;
}

.landing__status-disc{
    font-weight: bold;
}
/* end landing styles */

/* start about us styles */
.about-us{
    margin: 5rem 0;
}

.about-us__header{
    display: flex;
    flex-direction: column;
}

.about-us__sub-title{
    color: #9c9c9c;
    font-size: 1.5rem;
}


.about-us__box{
    display: flex;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 2rem 1rem;
}

.about-us__icon{
    color: #666;
    font-size: 6rem;
}

.about-us__box-left{
    display: flex;
    flex-direction: column;
    margin: 0 2rem;
}

.about-us__box-title{
    font-weight: bold;
}
/* finish about us styles */

/* start popular & presell courses styles */

.popular , .presell{
    margin: 5rem 0;
}

.popular__slider .course-box , .presell__slider .course-box{
    margin: 5rem 1.5rem;
    box-shadow: 0 0 10px rgba(168, 172, 185, 0.3);
}

.popular__slider .course-box:hover, .presell__slider .course-box:hover{
    transform: none;
}

/* finish popular & presell courses styles */

/* start articles styles */

.articles{
    margin: 4rem 0;
}

.articles-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles-header__right{
    display: flex;
    flex-direction: column;
}

.articles-header__text{
    color: #9c9c9c;
    font-size: 1.5rem;
}

.articles-header__link{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white-color);
    background-color: var(--primary-color);
    padding: 1rem 2rem;
    border-radius: 1rem;
}

.articles-header__link:hover{
    color: var(--white-color);
}

.articles-header__icon{
    margin-right: .6rem;
}

.article-cart{
    margin: 2rem 0;
    transition: all 400ms ease;
    border-radius: 2rem;
    background-color: var(--white-color);
    padding-bottom: 5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* border: 10px solid black; */
}

.article-cart:hover{
     transform: translateY(-1rem);
}


.article-cart__img{
    width: 100%;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0 5px 30px rgba(70, 72, 77, 0.2);
    
}

.article-cart__content{
    padding: 2rem;
}

.article-cart__link{
    font-weight: bold;
}

.article-cart__text{
    color: #898989;
    font-size: 1.3rem;
    padding: 1.2rem 0 2.5rem 0;
}

.article-cart__btn{
    color: var(--primary-color);
    font-weight: bold;
    border: 2px solid var(--primary-color);
    border-radius: .7rem;
    text-align: center;
    padding: .5rem 1rem;
    margin-top: 6rem;
    transition: all 400ms ease;
}

.article-cart__btn:hover{
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* end articles styles */

/*start helper classes*/
.title{
    font-size: 2.3rem;
    color: #444446;
    font-weight: bold;
    line-height: 1.2;
    position: relative;
}

.title::before{
    content: "";
    position: absolute;
    right: -1rem;
    width: .4rem;
    height: 4.4rem;
    background-color: var(--primary-color);
    border-radius: 5rem;
    transform: rotate(8deg);
}


.title::after{
    content: "";
    position: absolute;
    right: 0rem;
    bottom: 0rem;
    width: 100%;
    max-width: 250px;
    height: 60%;
    background-color: rgba(43, 206, 80, 0.2);
}
/* finish helper classes */


